{% load static %}
<!doctype>
<html lang="en">
<head>
  <title>{% block title %}Hendoors{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'styles/ubacm.min.css' %}" rel="stylesheet">
  <link href="{% static 'styles/index.css' %}" rel="stylesheet">
  <link href="{% static 'styles/categories.css' %}" rel="stylesheet">
  <link href="{% static 'styles/entries.css' %}" rel="stylesheet">
  <link href="{% static 'styles/entry.css' %}" rel="stylesheet">
  <link href="{% static 'styles/events.css' %}" rel="stylesheet">
  <link href="{% static 'lightgallery/css/lightgallery.min.css' %}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
</head>
<body>
  {% include 'header.html' %}
  <div class="container contents pad_header">
    {% block content %}
    {% endblock %}
  </div>
  {% include 'footer.html' %}
  {% block script %}
  {% endblock %}
</body>
</html>
