{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}

{% block content %}
  <p><a href="{{ category.event.get_absolute_url }}">Back to {{ category.event }}</a></p>
  <h1>
    {{ category }}
    <span class="small_header">{{ category.event }}</span>
  </h1>
  <p>{{ category.description }}</p>

  <h2>Entries</h2>
  <div class="partial__entries">
    {% for entry in category.entries.all %}
    <div class="entry">
      <a href="{{ entry.get_absolute_url }}">
        <div class="name">{{ entry }}</div>
        <div class="description">{{ entry.description }}</div>
      </a>
    </div>
    {% empty %}
    <p><em>This category currently has no entries.</em></p>
    {% endfor %}
  </div>
{% endblock %}
