{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}

{% block content %}
  <h1>Category: {{ category }}</h1>

  {% if category.image %}
    <img src="{{ category.image.url }}" alt="{{ category.image.name }}">
  {% endif %}

  <dl>
    <dt>Event</dt>
    <dd><a href="{{ category.event.get_absolute_url }}">{{ category.event }}</a></dd>

    <dt>Description</dt>
    <dd>{{ category.description }}</dd>

    <dt>Entries</dt>
    {% for entry in category.entries.all %}
      <dd><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></dd>
    {% empty %}
      <dd><em>This category currently has no entries.</em></dd>
    {% endfor %}
  </dl>
{% endblock %}
