body {
  background-color: #002f56;
  color: #fff;
}

.small_header {
  display: inline-block;
  font-size: 40%;
}

.label {
  font-weight: bold;
}

form {
  color: #000;
  margin-bottom: 0;
}

#form_message {
  color: #fff;
  font-weight: bold;
}