{% extends 'base.html' %}
{% block title %}Events{% endblock %}

{% block content %}
  <h1>Event: {{ event }}</h1>
  <dl>
    <dt>When?</dt>
    <dd>{{ event.time }}</dd>

    <dt>Where?</dt>
    <dd>{{ event.location }}</dd>

    <dt>What?</dt>
    <dd>{{ event.description }}</dd>

    <dt>Categories</dt>
    {% for category in event.category_set.all %}
      <dd><a href="{{ category.get_absolute_url }}">{{ category }}</a></dd>
    {% empty %}
      <dd><em>No categories</em></dd>
    {% endfor %}

    <dl></dl>
  </dl>
{% endblock %}
