{% extends 'base.html' %}
{% block title %}{{ event }}{% endblock %}

{% block content %}
  <p><a href="{% url 'events:list' %}">Back to Events</a></p>
  <h1>{{ event }}</h1>
  <p>{{ event.description }}</p>
  <p>
    <i class="fas fa-fw fa-map-marker"></i> {{ event.location }}<br />
    <i class="fas fa-fw fa-clock"></i> {{ event.time }}
  </p>

  <h2>Categories</h2>
  <div class="partial__categories">
    {% for category in event.category_set.all %}
    <div class="category{% if category.voting_open is not False %} open{% endif %}">
      <a href="{{ category.get_absolute_url }}">
        <div class="copy">
          <div class="title">
            <span class="name">
              {{ category }}
            </span>
            {% if category.voting_open is False %}
            <span class="status">
              <em>This category is closed.</em>
            </span>
            {% endif %}
          </div>
          <div class="description">
            {{ category.description }}
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <p><em>No categories found for this event.</em></p>
    {% endfor %}
  </div>
{% endblock %}
