{% extends 'base.html' %}
{% block title %}Events{% endblock %}

{% block content %}
  <h1>Events</h1>
  <p>A list of events available for voting.</p>

  {% if event_list %}
  <ul class="partial__event_list">
    {% for event in event_list %}
      <li class="event{% if event.voting_open %} open{% endif %}">
        <a href="{{ event.get_absolute_url }}">
          <div class="copy">
            <div class="name">{{ event.name }}</div>
            <p class="description">{{ event.description }}</p>
            <div class="location"><i class="fas fa-fw fa-map-marker"></i> {{ event.location }}</div>
            <div class="time"><i class="fas fa-fw fa-clock"></i> {{ event.time }}</div>
          </div>
          <div class="status">
            {% if event.voting_open %}
            <div class="icon">
              <i class="far fa-4x fa-fw fa-check-circle"></i>
            </div>
            <div class="info">Open</div>
            {% else %}
            <div class="icon">
              <i class="fas fa-4x fa-fw fa-window-close"></i>
            </div>
            <div class="info">Closed</div>
            {% endif %}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There are no events at the moment.</p>
  {% endif %}
{% endblock %}
