{% extends 'base.html' %}
{% block title %}{{ entry.name }}{% endblock %}

{% block content %}
  <p>
    <a href="{{ entry.categories.all.0.event.get_absolute_url }}">
      Back to {{ entry.categories.all.0.event }}
    </a>
  </p>
  <h1>Entry: {{ entry.name }}</h1>

  {# TODO: add forms to vote for the various categories #}

  <dl>
    <dt>Categories</dt>
    {% for category in entry.categories.all %}
      <dd><a href="{{ category.get_absolute_url }}">{{ category }}</a></dd>
    {% empty %}
      <dd><em>This entry is currently uncategorized.</em></dd>
    {% endfor %}

    <dt>Description</dt>
    <dd>{{ entry.description }}</dd>

    {% if entry.website %}
      <dt>Website</dt>
      <dd><a href="{{ entry.website }}">{{ entry.website }}</a></dd>
    {% endif %}

    {% if entry.repository %}
      <dt>Repository</dt>
      <dd><a href="{{ entry.repository }}">{{ entry.repository }}</a></dd>
    {% endif %}
  </dl>

  {% for image in entry.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
  {% endfor %}
{% endblock %}

